:root {
  --custom-background: #1d1e26;
  --custom-current-line: #32343f;
  --custom-foreground: #abb2bf;
  --custom-comment: #565c68;
  --custom-cyan: #56b6c2;
  --custom-green: #98c379;
  --custom-orange: #e5c07b;
  --custom-pink: #c678dd;
  --custom-purple: #af87e6;
  --custom-red: #e06c75;
  --custom-yellow: #e5c07b;
}
